/* .card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  
} */

.card {
  margin:30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
}

.card:hover {
  background: lightgray;
  transform: scale(1.02);
}
